<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Web</name>
    </assembly>
    <members>
        <member name="T:Web.Features.Authentication.AuthController">
            <summary>
            Контроллер для работы с аутентификацией
            </summary>
        </member>
        <member name="M:Web.Features.Authentication.AuthController.Login(Web.Features.Authentication.Login.LoginCommand)">
            <summary>
            Войти в систему
            </summary>
        </member>
        <member name="M:Web.Features.Authentication.AuthController.Logout">
            <summary>
            Выйти из системы
            </summary>
        </member>
        <member name="T:Web.Features.Authentication.Login.LoginCommand">
            <summary>
            Команда входа в систему
            </summary>
        </member>
        <member name="P:Web.Features.Authentication.Login.LoginCommand.Name">
            <summary>
            Имя пользователя
            </summary>
        </member>
        <member name="P:Web.Features.Authentication.Login.LoginCommand.Password">
            <summary>
            Пароль пользователя
            </summary>
        </member>
        <member name="T:Web.Features.Authentication.Login.LoginCommandHandler">
            <summary>
            Вход в систему
            </summary>
        </member>
        <member name="M:Web.Features.Authentication.Login.LoginCommandHandler.#ctor(Microsoft.AspNetCore.DataProtection.IDataProtectionProvider,DataContext.IAppContext)">
            <inheritdoc />
        </member>
        <member name="M:Web.Features.Authentication.Login.LoginCommandHandler.Handle(Web.Features.Authentication.Login.LoginCommand)">
            <inheritdoc />
        </member>
        <member name="T:Web.Features.Authentication.Login.LoginCommandValidator">
            <summary>
            Валидация входа в систему
            </summary>
        </member>
        <member name="M:Web.Features.Authentication.Login.LoginCommandValidator.#ctor">
            <inheritdoc />
        </member>
        <member name="T:Web.Features.Registration.RegisterUser.RegisterUserCommand">
            <summary>
            Команда регистрации пользователя
            </summary>
        </member>
        <member name="P:Web.Features.Registration.RegisterUser.RegisterUserCommand.Name">
            <summary>
            Имя пользователя
            </summary>
        </member>
        <member name="P:Web.Features.Registration.RegisterUser.RegisterUserCommand.Email">
            <summary>
            E-mail
            </summary>
        </member>
        <member name="P:Web.Features.Registration.RegisterUser.RegisterUserCommand.Password">
            <summary>
            Пароль пользователя
            </summary>
        </member>
        <member name="P:Web.Features.Registration.RegisterUser.RegisterUserCommand.ConfirmPassword">
            <summary>
            Подтверждение пароля
            </summary>
        </member>
        <member name="T:Web.Features.Registration.RegisterUser.RegisterUserCommandHandler">
            <summary>
            Обработчик команды регистрации пользователя
            </summary>
        </member>
        <member name="M:Web.Features.Registration.RegisterUser.RegisterUserCommandHandler.#ctor(Microsoft.AspNetCore.DataProtection.IDataProtectionProvider,DataContext.IAppContext,AutoMapper.IMapper)">
            <inheritdoc />
        </member>
        <member name="M:Web.Features.Registration.RegisterUser.RegisterUserCommandHandler.Handle(Web.Features.Registration.RegisterUser.RegisterUserCommand)">
            <inheritdoc />
        </member>
        <member name="T:Web.Features.Registration.RegisterUser.RegisterUserCommandProfile">
            <summary>
            <inheritdoc />
            </summary>
        </member>
        <member name="M:Web.Features.Registration.RegisterUser.RegisterUserCommandProfile.#ctor">
            <summary>
            <inheritdoc />
            </summary>
        </member>
        <member name="T:Web.Features.Registration.RegisterUser.RegisterUserCommandValidator">
            <summary>
            Валидация регистрации пользователя
            </summary>
        </member>
        <member name="M:Web.Features.Registration.RegisterUser.RegisterUserCommandValidator.#ctor(DataContext.IAppContext)">
            <summary>
            <inheritdoc />
            </summary>
        </member>
        <member name="T:Web.Features.Registration.RegistrationController">
            <summary>
            Контроллер для регистрации пользователей
            </summary>
        </member>
        <member name="M:Web.Features.Registration.RegistrationController.RegisterUser(Web.Features.Registration.RegisterUser.RegisterUserCommand)">
            <summary>
            Зарегистрировать нового пользователя
            </summary>
        </member>
        <member name="T:Web.Infrastructure.Exceptions.ResultException">
            <summary>
            Исключение с результатом
            </summary>
        </member>
        <member name="T:Web.Infrastructure.Extensions.ControllerExtensions">
            <summary>
            Расширения для контроллера
            </summary>
        </member>
        <member name="M:Web.Infrastructure.Extensions.ControllerExtensions.ResultResponse(Microsoft.AspNetCore.Mvc.Controller,Web.Infrastructure.Results.Result)">
            <summary>
            Универсальный ответ сервера
            </summary>
        </member>
        <member name="T:Web.Infrastructure.Extensions.StringExtensions">
            <summary>
            Расширения для работы со строками
            </summary>
        </member>
        <member name="M:Web.Infrastructure.Extensions.StringExtensions.IsNullOrEmpty(System.String)">
            <summary>
            Проверить на null или пустую строку
            </summary>
        </member>
        <member name="M:Web.Infrastructure.Extensions.StringExtensions.IsNullOrWhiteSpace(System.String)">
            <summary>
            Проверить на null или строку состоящую только из пробельных символов
            </summary>
        </member>
        <member name="T:Web.Infrastructure.Failures.Fail">
            <summary>
            Ошибка запроса
            </summary>
        </member>
        <member name="P:Web.Infrastructure.Failures.Fail.Message">
            <summary>
            Сообщение с информацией об ошибке
            </summary>
        </member>
        <member name="M:Web.Infrastructure.Failures.Fail.#ctor(System.String)">
            <inheritdoc />
        </member>
        <member name="M:Web.Infrastructure.Failures.Fail.op_Implicit(System.String)~Web.Infrastructure.Failures.Fail">
            <summary>
            Преобразует строку в ошибку
            </summary>
        </member>
        <member name="T:Web.Infrastructure.Mediators.IMediator">
            <summary>
            Посредник для отправки запросов подходящим обработчикам
            </summary>
        </member>
        <member name="M:Web.Infrastructure.Mediators.IMediator.Send``2(``0)">
            <summary>
            Послать запрос обработчику
            </summary>
            <param name="input">Данные запроса</param>
            <returns>Результат выполнения запроса</returns>
        </member>
        <member name="T:Web.Infrastructure.Pipeline.Abstractions.HandlerDecoratorBase`2">
            <summary>
            Декоратор для обработчика
            </summary>
        </member>
        <member name="F:Web.Infrastructure.Pipeline.Abstractions.HandlerDecoratorBase`2.Decoratee">
            <summary>
            Декорируемый обработчик
            </summary>
        </member>
        <member name="M:Web.Infrastructure.Pipeline.Abstractions.HandlerDecoratorBase`2.#ctor(Web.Infrastructure.Pipeline.Abstractions.IHandler{`0,`1})">
            <inheritdoc />
        </member>
        <member name="M:Web.Infrastructure.Pipeline.Abstractions.HandlerDecoratorBase`2.Handle(`0)">
            <inheritdoc />
        </member>
        <member name="T:Web.Infrastructure.Pipeline.Abstractions.ICommand`1">
            <summary>
            Команда
            </summary>
            <typeparam name="TOut">Результат выполнения команды</typeparam>
        </member>
        <member name="T:Web.Infrastructure.Pipeline.Abstractions.ICommandHandler`2">
            <summary>
            Обработчик команды
            </summary>
            <typeparam name="TCommand">Команда</typeparam>
            <typeparam name="TResult">Результат выполнения команды</typeparam>
        </member>
        <member name="T:Web.Infrastructure.Pipeline.Abstractions.IHandler`2">
            <summary>
            Обработчик
            </summary>
            <typeparam name="TIn">Тип входного параметра</typeparam>
            <typeparam name="TOut">Тип результата</typeparam>
        </member>
        <member name="M:Web.Infrastructure.Pipeline.Abstractions.IHandler`2.Handle(`0)">
            <summary>
            Метод обработки
            </summary>
            <param name="input">Входной параметр</param>
        </member>
        <member name="T:Web.Infrastructure.Pipeline.Abstractions.IQuery`1">
            <summary>
            Запрос
            </summary>
            <typeparam name="TOut">Результат выполнения запроса</typeparam>
        </member>
        <member name="T:Web.Infrastructure.Pipeline.Abstractions.IQueryHandler`2">
            <summary>
            Обработчик запроса
            </summary>
            <typeparam name="TQuery">Запрос</typeparam>
            <typeparam name="TResult">Результат выполнения запроса</typeparam>
        </member>
        <member name="T:Web.Infrastructure.Pipeline.Implementations.LoggingHandlerDecorator`2">
            <summary>
            Декоратор логирования
            </summary>
        </member>
        <member name="M:Web.Infrastructure.Pipeline.Implementations.LoggingHandlerDecorator`2.#ctor(Web.Infrastructure.Pipeline.Abstractions.IHandler{`0,`1},Microsoft.Extensions.Logging.ILogger{`0})">
            <inheritdoc />
        </member>
        <member name="M:Web.Infrastructure.Pipeline.Implementations.LoggingHandlerDecorator`2.Handle(`0)">
            <inheritdoc />
        </member>
        <member name="T:Web.Infrastructure.Pipeline.Implementations.SaveChangesHandlerDecorator`2">
            <summary>
            Сохраняет изменения контекста
            </summary>
            <remarks>Вызывается после работы всех декораторов для принятия изменений в рамках одной транзакции</remarks>
        </member>
        <member name="M:Web.Infrastructure.Pipeline.Implementations.SaveChangesHandlerDecorator`2.#ctor(Web.Infrastructure.Pipeline.Abstractions.IHandler{`0,`1},DataContext.IAppContext)">
            <inheritdoc />
        </member>
        <member name="M:Web.Infrastructure.Pipeline.Implementations.SaveChangesHandlerDecorator`2.Handle(`0)">
            <inheritdoc />
        </member>
        <member name="T:Web.Infrastructure.Results.Result">
            <summary>
            Результат выполнения запроса
            </summary>
        </member>
        <member name="P:Web.Infrastructure.Results.Result.StatusCode">
            <summary>
            Код
            </summary>
        </member>
        <member name="P:Web.Infrastructure.Results.Result.SuccessValue">
            <summary>
            Значение успешного результата
            </summary>
        </member>
        <member name="P:Web.Infrastructure.Results.Result.FailureValue">
            <summary>
            Значение неудачного результата
            </summary>
        </member>
        <member name="P:Web.Infrastructure.Results.Result.IsSuccess">
            <summary>
            Индикатор успешного результата
            </summary>
        </member>
        <member name="M:Web.Infrastructure.Results.Result.#ctor">
            <inheritdoc />
        </member>
        <member name="M:Web.Infrastructure.Results.Result.Success(System.Object,System.Int32)">
            <summary>
            Успешный результат
            </summary>
            <param name="success">Значение успешного результата</param>
            <param name="statusCode">Код</param>
        </member>
        <member name="M:Web.Infrastructure.Results.Result.Fail(System.Object,System.Int32)">
            <summary>
            Неудачный результат
            </summary>
            <param name="failure">Значение неудачного результата</param>
            <param name="statusCode">Код</param>
        </member>
        <member name="T:Web.Infrastructure.Results.Result`2">
            <summary>
            Типизированный результат выполнения команды/запроса
            </summary>
            <typeparam name="TSuccess">Значение в случае успеха выполнения</typeparam>
            <typeparam name="TFailure">Значение в случае неудачного выполнения</typeparam>
        </member>
        <member name="P:Web.Infrastructure.Results.Result`2.SuccessValue">
            <see cref="P:Web.Infrastructure.Results.Result.SuccessValue"/>
        </member>
        <member name="P:Web.Infrastructure.Results.Result`2.FailureValue">
            <see cref="P:Web.Infrastructure.Results.Result.FailureValue"/>
        </member>
        <member name="M:Web.Infrastructure.Results.Result`2.Success(`0,System.Int32)">
            <summary>
            Успешный результат
            </summary>
            <param name="success">Значение успешного результата</param>
            <param name="statusCode">Код</param>
        </member>
        <member name="M:Web.Infrastructure.Results.Result`2.Fail(`1,System.Int32)">
            <summary>
            Неудачный результат
            </summary>
            <param name="failure">Значение неудачного результата</param>
            <param name="statusCode">Код</param>
        </member>
        <member name="T:Web.Infrastructure.Validation.Attributes.RequiredAttribute">
            <summary>
            Атрибут для проверки на null значение
            </summary>
        </member>
        <member name="M:Web.Infrastructure.Validation.Attributes.RequiredAttribute.#ctor(System.Boolean)">
            <inheritdoc />
        </member>
        <member name="M:Web.Infrastructure.Validation.Attributes.RequiredAttribute.IsValid(System.Object)">
            <inheritdoc />
        </member>
        <member name="T:Web.Infrastructure.Validation.ValidationErrorMessages">
            <summary>
            Сообщения об ошибках валидации
            </summary>
        </member>
        <member name="T:Web.Program">
            <summary>
            Стартовый класс приложения
            </summary>
        </member>
        <member name="M:Web.Program.Main(System.String[])">
            <summary>
            Точка входа в приложение
            </summary>
            <param name="args">Аргументы командной строки</param>
        </member>
        <member name="M:Web.Program.CreateWebHostBuilder(System.String[])">
            <summary>
            Конфигурация хоста
            </summary>
        </member>
        <member name="T:Web.Startup.Configuration.ServicesConfigurationExtensions">
            <summary>
            Расширения для конфигурации сервисов приложения
            </summary>
        </member>
        <member name="M:Web.Startup.Configuration.ServicesConfigurationExtensions.AddAppContext(Microsoft.Extensions.DependencyInjection.IServiceCollection,Microsoft.Extensions.Configuration.IConfiguration)">
            <summary>
            Добавить контекст данных
            </summary>
        </member>
        <member name="M:Web.Startup.Configuration.ServicesConfigurationExtensions.AddHandlers(Microsoft.Extensions.DependencyInjection.IServiceCollection)">
            <summary>
            Добавить обработчики запросов
            </summary>
        </member>
        <member name="M:Web.Startup.Configuration.ServicesConfigurationExtensions.AddValidators(Microsoft.Extensions.DependencyInjection.IServiceCollection)">
            <summary>
            Добавить валидаторы
            </summary>
        </member>
        <member name="M:Web.Startup.Configuration.ServicesConfigurationExtensions.AddAutomapper(Microsoft.Extensions.DependencyInjection.IServiceCollection)">
            <summary>
            Добавить профили Automapper
            </summary>
        </member>
        <member name="T:Web.Startup.Startup">
            <summary>
            Конфигуратор приложения
            </summary>
        </member>
        <member name="M:Web.Startup.Startup.#ctor(Microsoft.Extensions.Configuration.IConfiguration)">
            <inheritdoc />
        </member>
        <member name="P:Web.Startup.Startup.Configuration">
            <summary>
            Настройки приложения
            </summary>
        </member>
        <member name="M:Web.Startup.Startup.ConfigureServices(Microsoft.Extensions.DependencyInjection.IServiceCollection)">
            <summary>
            Настройка сервисов приложения
            </summary>
        </member>
        <member name="M:Web.Startup.Startup.Configure(Microsoft.AspNetCore.Builder.IApplicationBuilder)">
            <summary>
            Настройка приложения
            </summary>
        </member>
    </members>
</doc>
